/* importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  background-image: url(/static/assets/index_bg.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

nav {
  position: absolute;
  display: flex;
  align-items: center;
  background: #050505;
  background: linear-gradient(
    180deg,
    rgba(5, 5, 5, 0.7) 0%,
    rgba(145, 197, 110, 0.2) 100%
  );
  height: 5rem;
  border-bottom: solid 1px rgba(255, 255, 255, 0.398);
  padding-left: 50px;
  padding-right: 50px;
  width: 100vw;
  box-sizing: border-box;
}

h1 {
  font-family: "Josefin Sans";
  font-weight: 200;
  padding: 0 0;
  margin: 0 0;
  font-size: 2rem;
}

.nav-brand {
  padding: 0 0;
  color: white;
  font-size: 2.6rem;
  z-index: 1;
}

body .content {
  position: absolute;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

#team-form {
  display: flex;
}

@media screen and (max-width: 900px) {
  #team-form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 100px;
  }

  .team-dropdown > select {
    text-align: center;
    width: inherit;
  }
}

#result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-shrink: 1;
  max-width: 500px;
  width: 500px;
  color: white;
}

#result-btn {
  margin: 0;
  font-size: 4rem;
  font-family: "Audiowide";
  color: white;
  background-color: transparent;
  border-color: transparent;
}

#result-btn:hover {
  text-shadow: 0 0 6px white;
}

#result-text {
  margin: 0;
  font-family: "Josefin Sans";
  text-align: center;
  font-size: 2rem;
  line-height: 40px;
}

.team-dropdown {
  flex-shrink: 1;
}

.team-dropdown > select {
  height: 50px;
  border: none;
  background-color: rgba(255, 255, 255, 0.077);
  color: white;
  font-family: "Josefin Sans";
  font-size: 1.3rem;
  font-weight: normal;
  padding-right: 20px;
  padding-left: 20px;
}
